body {
	background-image:url("../images/fond-java.png");
	background-position:75% 0%;
	background-repeat:no-repeat;
}

.container img {
	padding : 10px;
}

.navheader {
	margin: 10px;
	width: 100%;
	left: 0;
	right:0;
}

.navbar {
	border-radius: 0;
	border-width: 0 0 1px;
}

#minilogo-jug {
	padding:0;
	margin-top:8px;
	margin-right:10px;
	width:35px;
	opacity: 0;
}

#sponsors {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#sponsors li {
	margin-bottom: 20px;
}

.previous a {
	text-align: left;
	max-width: 350px;
}
.next a {
	text-align: right;
	max-width: 350px;
}

.post img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.post iframe {
	display: block;
	margin-left: auto;
	margin-right: auto
}

img.alignright {
	display: inline;
    float: right;
}