<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="/{{ "images/logo.jpg" }}" height="41">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {{ range .Site.Data.menus.menu_data }}
        <li>
          {{ if eq .internal "false" }}
          <a title="{{ .name }}" href="{{ .url | relLangURL }}" target="_blank">
            {{ .name }}
            <i class="fa fa-external-link-alt"></i>
          </a>
          {{ else }}
          <a title="{{ .name }}" href="{{ .url | relLangURL }}">{{ .name }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Réseaux sociaux&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{ range .Site.Data.LessOrMore.social.social_icons }}
            {{- if isset $.Site.Author .id }}
            <li>
              <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}" rel="nofollow" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>&nbsp;
                {{ .title }}
              </a>
            </li>
            {{- end -}}
            {{ end }}
            <li>
              <a href="/index.xml" title="RSS" rel="nofollow" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                </span>&nbsp;
                RSS
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>