<div class="container">
    <div class="navheader">
      <img src="{{site.baseurl}}images/toulousejug.png" alt="{{ page.title }}" />
    </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">  
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	<li><img id="logo-jug" src="{{site.baseurl}}images/logo-jug.png" alt="{{ page.title }}" /></li>
      	{% for menulink in site.data.menu-header-links %}
      		{% if menulink.id == page.activeLink %}
        <li class="active">
  			{% else %}
  			<li>
  			{% endif %}		
          <a href="{{ site.baseurl }}{{ menulink.link }}">{{ menulink.name }}</a>
        </li>
		    {% endfor %}
      </ul>
      <ul class="nav nav-pills navbar-right">
        <li>
          <button type="button" class="btn btn-primary navbar-btn" onclick="var w=window.open('https://www.weezevent.com/widget_billeterie.php?id_evenement=60944&amp;code=11628&amp;color_primary=00AEEF', 'Billetterie_weezevent', 'width=650, height=600, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;">Adhérer au JUG</button>
  		  </li>
      </ul>
    </div>
  </div>
</nav>