<div class="container hidden-xs">
  <div class="navheader">
    <img id="header-logo" src="{{site.baseurl}}images/toulousejug.png" alt="{{ page.title }}" />
  </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}">
        <img id="minilogo-jug" class="hidden-xs" src="{{site.baseurl}}images/logo-jug.png" alt="{{ page.title }}" /> 
        <span class="visible-xs"><button type="button" class="btn btn-primary btn-lg">Toulouse JUG</button></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="nav navbar-nav">
        {% for menulink in site.data.menu-header-links %}
          {% if menulink.id == page.activeLink %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}   
            <a href="{{ site.baseurl }}{{ menulink.link }}">{{ menulink.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="btn-group navbar-right">
        <a class="btn navbar-btn btn-default btn-google-plus" href="http://groups.google.com/group/toulouse-jug"><i class="fa fa-envelope"></i></a>
        <a class="btn navbar-btn btn-default btn-twitter" href="https://twitter.com/toulousejug"><i class="fa fa-twitter"></i></a>
        <a class="btn navbar-btn btn-default btn-github" href="https://github.com/toulousejug"><i class="fa fa-github"></i></a>
        <a class="btn navbar-btn btn-warning" href="{{ site.baseurl }}feed"><i class="fa fa-rss"></i></a>
      </div>
    </div>
  </div>
</nav>