<div class="col-md-4 text-center">
	
	<img src="{{site.baseurl}}images/jug.png" alt="Java User Group" />

	<button type="button" class="btn btn-primary navbar-btn" onclick="var w=window.open('https://www.weezevent.com/widget_billeterie.php?id_evenement=60944&amp;code=11628&amp;color_primary=00AEEF', 'Billetterie_weezevent', 'width=650, height=600, top=100, left=100, toolbar=no, resizable=yes, scrollbars=yes, status=no'); w.focus(); return false;">Adhérer au JUG</button>
	
	<hr/>

	<h3>Les Sponsors</h3>
	<ul id="sponsors">

	{% for sponsor in site.data.sponsors %}
		<li>
		    <a href="{{ sponsor.url }}" target="_blank">
		      <img src="{{ site.baseurl }}{{ sponsor.imgPath }}" alt="{{ sponsor.name }}" class="img-thumbnail">
		    </a>
		</li>
	{% endfor %}
	</ul>

	<hr/>

	<h3>Evènements à venir</h3>

	<iframe src="https://www.google.com/calendar/embed?title=Toulouse%20JUG&showTitle=0&showDate=0&showPrint=0&showCalendars=0&showTz=0&mode=AGENDA&height=350&wkst=1&hl=fr&bgcolor=%23ffffff&src=gj28ftdmh952s1ik8tt2iu5e6o%40group.calendar.google.com&color=%23711616&ctz=Europe%2FParis" height="350px" width="360px" frameborder="0" scrolling="no"></iframe>


</div>