<div class="col-md-4 text-center">
	
	<img src="{{site.baseurl}}/images/jug.png" alt="Java User Group" />

	{% include button-adherer-jug.html %}
	
	<hr/>

	<h3>Sponsors</h3>
	<ul id="sponsors">

	{% for sponsor in site.data.sponsors %}
		<li>
		    <a href="{{ sponsor.url }}/" target="_blank">
		      <img src="{{ site.baseurl }}/{{ sponsor.imgPath }}" alt="{{ sponsor.name }}" class="img-thumbnail">
		    </a>
		</li>
	{% endfor %}
	</ul>

	<hr/>

	<h3>Évènements à venir</h3>
	<iframe src="https://www.google.com/calendar/embed?title=Toulouse%20JUG&showTitle=0&showDate=0&showPrint=0&showCalendars=0&showTz=0&mode=AGENDA&height=350&wkst=1&hl=fr&bgcolor=%23ffffff&src=gj28ftdmh952s1ik8tt2iu5e6o%40group.calendar.google.com&color=%23711616&ctz=Europe%2FParis" height="350px" width="360px" frameborder="0" scrolling="no"></iframe>


</div>
