{{ define "main" }}
<div class="container docs-container" style="padding-top: 60px;">
  {{ range (where .Site.Data.sponsors.sponsor_data "current" "eq" true) }}
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" role="main">
      <div class="panel docs-content" style="padding: 1px 60px 1px 60px;">
        <div class="sponsor-big">
<!--             style="cursor: pointer;"-->
          <a title="{{ .title }}"
             {{ if isset . "description" }}
             data-toggle="collapse"
             data-target="#{{ .id }}-collapse"
             aria-expanded="false"
             aria-controls="{{ .id }}-collapse"
             {{ else }}
             href="{{ .url }}"
             target="_blank"
             {{ end }}
          >
            <img src="{{ .logo }}" alt="{{ .title }}" height="130"/>
          </a>
        </div>
        {{ if isset . "description" }}
        <div class="in" id="{{ .id }}-collapse">
          <div class="well">
            {{ .description | safeHTML }}<br/>
            <a title="{{ .title }}" href="{{ .url }}" target="_blank" style="
            text-align: center;
            display: block;
            width: 100%;
            font-size: 16px;
            margin-top: 15px;
            color: black;
            text-decoration: underline;">
              {{ .url }}
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ if $.Site.Params.lookingForSponsors }}
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" role="main">
      <div class="panel docs-content sponsor-big">
        <a href="mailto:toulousejug@gmail.com" title="Le JUG cherche des sponsors 🎖️Contactez nous !" target="_blank" style="text-align: center; font-size: 20px; font-weight: bold;">
          Le JUG cherche des sponsors 🎖️<br/>Contactez nous !
        </a>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" role="main">
      <header class="post-header">
        <h1 class="post-title">Ils nous ont déjà sponsorisé</h1>
        <br />
      </header>
    </div>
  </div>
  <div class="row">
    {{ range .Site.Data.past_sponsors.sponsor_data }}
    <div role="main" class="col-md-2">
      <div class="panel docs-content" style="padding: 1px 1px 1px 1px; margin-left: -2px; margin-right: -2px;">
        <div class="sponsor-big">
          <a title="{{ .title }}" href="{{ .url }}" target="_blank">
            <img src="{{ .logo }}" alt="{{ .title }}" width="{{ .width }}px">
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}