{{ define "main" }}
{{ $sponsors := (where .Site.Data.sponsors.sponsor_data "id" "in" .Params.sponsors) }}
<div class="container docs-container">
  <div class="row">
    {{ if (gt (len $sponsors) 0) }}
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        <div id="navigation">
          <h1>Sponsors</h1>
          <div style="text-align: center;">
            {{ range $sponsors }}
            <a href="{{ .url }}" title="{{ .title }}" target="_blank">
              <img src="/{{ .logo }}" alt="{{ .title }}" style="margin-top: 10px; max-width: 200px;">
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
            <!--
              <p class="post-meta">{{ .Date }}{% if .Author %} • {{ .Author }}{% endif %}{% if .Param.meta %} • {{ .Params.meta }}{% endif %}</p>
            -->
            <!--<div class="meta">Posted on <span class="postdate">{{ .Date }}</span> By <a target="_blank" href="{{ .Site.BaseURL }}">{{ .Site.Author }}</a></div>-->
            <!--<br />-->
          </header>
          <article class="post-content">
            {{ .Content }}
          </article>
        </div>
      </div>
    </div>
    {{ else }}
    <div class="col-md-1">
    </div>
    <div class="col-md-11" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
            <!--
              <p class="post-meta">{{ .Date }}{% if .Author %} • {{ .Author }}{% endif %}{% if .Param.meta %} • {{ .Params.meta }}{% endif %}</p>
            -->
            <!--<div class="meta">Posted on <span class="postdate">{{ .Date }}</span> By <a target="_blank" href="{{ .Site.BaseURL }}">{{ .Site.Author }}</a></div>-->
            <!--<br />-->
          </header>
          <article class="post-content">
            {{ .Content }}
          </article>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}