---
layout: default
title: Toulouse JUG - Sponsors
activeLink: sponsors
---

<div class="row">
	<div class="col-md-8">
		<h1>Sponsors</h1>

		<p><a href="{{ site.baseurl }}sponsors/enregistrement-sponsor.html">Comment devenir sponsor du ToulouseJUG ?</a></p>
		<div class="list-group text-center">
			{% for sponsor in site.data.sponsors %}
		  	<a href="{{ sponsor.url }}" class="list-group-item" target="_blank">
		    	<img src="{{ site.baseurl }}{{ sponsor.imgPath }}" alt="{{ sponsor.name }}" class="img-thumbnail">
		    	<div class="list-group-item-text sponsor-description" >{{ sponsor.description }}</div>
		  	</a>
		  	{% endfor %}
		</div>

	</div>
	{% include right-part.html %}
</div>
