{{ define "main" }}
<div class="container docs-container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <article class="post-content">
            {{ .Content }}

            {{ range .Site.Data.members.member_data }}
            <div id="{{ .id }}">
              <h3>{{ .firstname }} {{ .lastname }}</h3>
              <div class="trombine">
                <img src="{{ .image }}" alt="{{ .firstname }} {{ .lastname }}"/>
                <div>
                  {{ if .bureau }}<span>{{ .role }}</span><br/>{{ end }}
                  {{ if isset . "url" }} • <a href="{{ .url }}">Sur le Web</a>{{ end }}
                  {{ if isset . "email" }} • <a href="mailto:{{ .email }}">Email</a>{{ end }}
                  {{ if isset . "twitter" }} • <a href="https://twitter.com/{{ .twitter }}">Twitter</a>{{ end }}
                  <br/>
                  <span>{{ .description }}</span>
                </div>
              </div>
            </div>
            {{ end }}
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}